.contenedor-general {
    border: 3px solid black;
    width: 1200px; /*ancho*/
}

.cont1 {
    background-color:black ;
    width: 1200px; /*ancho*/
    height: 130px; /*alto*/
}

.cont2 {
    background-color:black ;
    width: 1200px; /*ancho*/
    height: 200px; /*alto*/
}

.cont3 {
    background-color:black ;
    width: 1200px; /*ancho*/
    height: 600; /*alto*/
}

.cont4 {
    background-color:black ;
    width: 1200px; /*ancho*/
    height: 120px; /*alto*/
}

.cont5 {
    background-color:black ;
    width: 1200px; /*ancho*/
    height: 120px; /*alto*/
}

/*
Monserrat black 50pt
Monserrat black 148pt
Monserrat black 163pt
Monserrat semibold 46pt
Monserrat black 45pt
Monserrat black 44pt
*/

.linea1 {
    font-family: 'montserrat', sans-serif;
    font-size: 67px;/*50pt*/
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.linea2 {
    font-family: 'montserrat', sans-serif;
    font-size: 197px;/*148pt*/
    font-weight: 700;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.linea3 {
    font-family: 'montserrat', sans-serif;
    font-size: 217px;/*163pt*/
    font-weight: bold;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.linea4 {
    font-family: 'montserrat', sans-serif;
    font-size: 60px;/*45pt y el centro con 36pt*/
    font-weight: bold;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.linea5 {
    font-family: 'montserrat', sans-serif;
    font-size: 59px;/*44pt*/
    font-weight: bold;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}