body{
    background-color: #EDF7FF;
    
}

.margen-izquierdo {
    margin-left: 100px;
}

.contenedor-parrafos {
padding-right: 1800px;
}

h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 118px;/*88pt*/
    font-weight: bold;
    color: #0a2ff1;
    line-height: 100px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Asap', sans-serif;
    font-size: 52px; /*39pt*/
    font-weight: 500;
    color: #0a2ff1;
    margin-top: 0px;
}

p{
    font-family: 'Asap', sans-serif;
    font-size: 33px; /*25pt*/
    color: #04146c; 
}

h3{
    font-family: 'MuseoModerno', sans-serif;
    font-size: 48px;/*36pt*/
    font-weight: bold;
    color: #0a2ff1;  
    font-weight: 0;
    margin: 0;
}

ul{
    font-family: 'Asap', sans-serif;
    font-size: 34px;
    color: #04146c; 
}

li {
    margin: 25px;
    
}

footer{
    font-family: 'MuseoModerno', sans-serif;
    font-size: 199px;/*36pt*/
    font-weight: bold;
    color: #8a9af1;  
}